:root {
  --color-neutral-25: #fcfcfd;
  --color-neutral-50: #f9fafb;
  --color-neutral-100: #f2f4f7;
  --color-neutral-200: #e4e7ec;
  --color-neutral-300: #d0d5dd;
  --color-neutral-400: #98a2b3;
  --color-neutral-500: #667085;
  --color-neutral-600: #475467;
  --color-neutral-700: #344054;
  --color-neutral-800: #1d2939;
  --color-neutral-900: #101828;
  --color-primary-25: #fbfbff;
  --color-primary-50: #f6f6fe;
  --color-primary-100: #ececfd;
  --color-primary-200: #dedeff;
  --color-primary-300: #ccccfa;
  --color-primary-400: #b7b7ff;
  --color-primary-500: #a0a0f5;
  --color-primary-600: #8080f2;
  --color-primary-700: #6358d4;
  --color-primary-800: #4b32c3;
  --color-primary-900: #341bab;

  --body-background-color: var(--color-neutral-100);
  --ep-background-color: white;
  --ep-menu-background-color: var(--color-neutral-100);
  --ep-dialog-background-color: var(--color-neutral-100);
  --ep-active-menu-background-color: var(--ep-background-color);
  --ep-color: var(--color-neutral-900);
  --ep-link-color: var(--color-primary-600);
  --ep-label-color: var(--color-neutral-500);
  --ep-input-color: var(--color-neutral-900);
  --ep-input-background-color: var(--ep-background-color);
  --ep-border-color: var(--color-neutral-300);
  --ep-inactive-color: var(--color-neutral-500);
  --ep-warning-item-hover-background-color: var(--color-primary-100);
  --ep-severity-color: white;
  --ep-severity-error-background-color: crimson;
  --ep-severity-warning-background-color: goldenrod;

  --title-color: var(--color-neutral-900);
  --title-link-color: var(--color-primary-800);
}

.dark {
  --body-background-color: var(--color-neutral-800);
  --ep-background-color: var(--color-neutral-900);
  --ep-menu-background-color: var(--color-neutral-800);
  --ep-dialog-background-color: var(--color-neutral-800);
  --ep-active-menu-background-color: var(--ep-background-color);
  --ep-color: var(--color-neutral-100);
  --ep-link-color: var(--color-primary-600);
  --ep-label-color: var(--color-neutral-300);
  --ep-input-color: var(--color-neutral-100);
  --ep-input-background-color: var(--ep-background-color);
  --ep-border-color: var(--color-neutral-500);
  --ep-inactive-color: var(--color-neutral-500);
  --ep-warning-item-hover-background-color: var(--color-primary-800);
  --ep-severity-color: white;

  --title-color: var(--color-neutral-100);
  --title-link-color: var(--color-primary-600);
}

body {
  background-color: var(--body-background-color);
  margin: 0;
  overscroll-behavior-y: none;
}

#app {
  block-size: 100dvb;
  display: grid;
  min-inline-size: 48rem;
  overflow-x: scroll;
  grid-template-rows: min-content 1fr;
}

/* Input panels */
.ep-input-panel {
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.ep-input-panel > label {
  color: var(--ep-label-color);
  display: flex;
  gap: 0.25rem;
  min-block-size: 2rem;
  padding-inline: 0.25rem;
  place-items: center;
}

/* Output panels */
.ep-output-panel {
  block-size: 100%;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 0.75rem;
  inline-size: 100%;
  overflow: auto;
  padding-block: 0.75rem;
  padding-inline: 0.5rem;
  white-space: pre;
}

/* Button */
.ep-button {
  color: var(--ep-color);
  background-color: var(--ep-background-color);
  cursor: pointer;
  font-size: 0.75rem;
  letter-spacing: 0.01em;
  padding-block: 0.5rem;
  padding-inline: 1rem;

  outline: none;
  appearance: none;

  border: 1px solid var(--ep-border-color);
  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ep-button[disabled] {
  cursor: initial;
  color: var(--ep-inactive-color);
}

label.ep-button input[type="checkbox"] {
  inline-size: 0;
  margin: 0;
  opacity: 0;
}

label.ep-button:has(input[type="checkbox"]:not(:checked)) {
  color: var(--ep-inactive-color);
}

label.ep-button:has(
    input[type="checkbox"]:checked,
    input[type="checkbox"]:hover
  ) {
  color: var(--ep-color);
}
